proxy=http://1210212111:password@192.168.23.32:3128/
https-proxy=http://1210212111:password@192.168.23.32:3128/
progress=false
sign-git-tag=true
init-author-email=akhilhector.1@gmail.com
init-author-name=Akhil Pandey (AkhilHector)
init-version=0.0.1
